@model LoginDTO

@{
    ViewBag.Title = "Giriş Yap";
}


<!--====== Shoping Checkout Start  ======-->
<section class="margins">
    <div class="container">
        <div class="text-info">@TempData["Message"]</div>
        <form asp-controller="Account" asp-action="Login" method="post">
            <h3 class="title margins">Giriş Sayfası</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="payment-box mt-30">
                        <a asp-action="ResetPassword" asp-controller="Account">Şifremi Unuttum</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="payment-box mt-30">
                        <input type="submit" class="main-btn" value="Giriş Yap" />
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>
<!--====== Shoping Checkout End ======-->
@section Styles
{
<style>
    input {
        border: solid 1px #e3eeff;
        height: 50px;
        padding: 0 15px
    }
    .margins {
        margin: 10px 10px;
    }
</style>
}