@inject SignInManager<ApplicationUser> SignInManager
<!--header start-->
<section class="header">
    <div class="container">
        <div class="header-left">
            <ul class="pull-left">
                <li>
                    <a href="#">
                        <i class="fa fa-phone" aria-hidden="true"></i> +992 563 542
                    </a>
                </li><!--/li-->
                <li>
                    <a href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i>info@mail.com
                    </a>
                </li><!--/li-->
            </ul><!--/ul-->
        </div><!--/.header-left -->
        <div class="header-right pull-right">
            <ul>
                <li class="reg">
                    @if (SignInManager.IsSignedIn(Context.User))
                    {
                        <a asp-action="Profile" asp-controller="Account">@User.Identity.Name</a>
                        <a asp-action="Logout" asp-controller="Account">Çıkış yap</a>
                    }
                    else
                    {
                        <a asp-action="Register" asp-controller="Account">
                            Register
                        </a>
                        <a asp-action="Login" asp-controller="Account">
                            Log in
                        </a>
                    }





                </li><!--/li -->
                <li>
                    <div class="social-icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!--/.ul -->
                    </div><!--/.social-icon -->
                </li><!--/li -->
            </ul><!--/ul -->
        </div><!--/.header-right -->
    </div><!--/.container -->

</section><!--/.header-->
<!--header end-->
<!--menu start-->
<section id="menu">
    <div class="container">
        <div class="menubar">
            <nav class="navbar navbar-default">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img src="~/assets/images/logo/logo.png" alt="logo">
                    </a>
                </div><!--/.navbar-header -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="project.html">Project</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-cart"></span>
                            </a>
                        </li>
                        <li class="search">
                            <form action="">
                                <input type="text" name="search" placeholder="Search....">
                                <a href="#">
                                    <span class="lnr lnr-magnifier"></span>
                                </a>
                            </form>
                        </li>
                    </ul><!-- / ul -->
                </div><!-- /.navbar-collapse -->
            </nav><!--/nav -->
        </div><!--/.menubar -->
    </div><!-- /.container -->

</section><!--/#menu-->
<!--menu end-->