
<h4>Home</h4>

<!-- header-slider-area start -->
<section class="header-slider-area">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single-slide-item slide-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single-slide-item-content">
                                    <h2>Consult Your <br> Business With Us</h2>
                                    <p>
                                        We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems.
                                    </p>
                                    <button type="button" class="slide-btn">
                                        get started
                                    </button>
                                    <button type="button" class="slide-btn">
                                        explore more
                                    </button>

                                </div><!-- /.single-slide-item-content-->
                            </div><!-- /.col-->
                        </div><!-- /.row-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->
            </div><!-- /.item .active-->
            <div class="item">
                <div class="single-slide-item slide-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single-slide-item-content">
                                    <h2>
                                        Consult Your <br> Business
                                    </h2>
                                    <p>
                                        We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems.
                                    </p>
                                    <button type="button" class="slide-btn">
                                        get started
                                    </button>
                                    <button type="button" class="slide-btn
											">
                                        explore more
                                    </button>
                                </div><!-- /.single-slide-item-content-->

                            </div><!-- /.col-->
                        </div><!-- /.row-->
                    </div><!-- /.container-->
                </div><!-- /.single-slide-item-->
            </div><!-- /.item .active-->
        </div><!-- /.carousel-inner-->
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="lnr lnr-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="lnr lnr-chevron-right"></span>
        </a>
    </div><!-- /.carousel-->

</section><!-- /.header-slider-area-->
<!-- header-slider-area end -->
<!--service start-->
<section class="service">
    <div class="container">
        <div class="service-details">
            <div class="section-header text-center">
                <h2>our services</h2>
                <p>
                    Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div><!--/.section-header-->
            <div class="service-content-one">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service1.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">busisness planning</a>
                                </h2>
                                <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service2.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">busisness consultency</a>
                                </h2>
                                <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service3.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">financial services</a>
                                </h2>
                                <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.service-content-one-->
            <div class="service-content-two">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service4.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">risk management</a>
                                </h2>
                                <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service5.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">expert advisers</a>
                                </h2>
                                <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service6.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">24/7 customer support</a>
                                </h2>
                                <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.service-content-two-->
        </div><!--/.service-details-->
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->
<!--team start -->
<section class="team">
    <div class="container">
        <div class="team-details">
            <div class="project-header team-header text-left">
                <h2>Our expert team</h2>
                <p>
                    Pallamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div><!--/.project-header-->
            <div class="team-card">
                <div class="container">
                    <div class="row">
                        <div class="owl-carousel  team-carousel">
                            <div class="col-sm-3 col-xs-12">
                                <div class="single-team-box team-box-bg-1">
                                    <div class="team-box-inner">
                                        <h3>tom hanks</h3>
                                        <p class="team-meta">Founder &  CEO</p>
                                        <a href="team.html" class="learn-btn">
                                            learn more
                                        </a>
                                    </div><!--/.team-box-inner-->

                                </div><!--/.single-team-box-->
                            </div><!--.col-->
                            <div class="col-sm-3 col-xs-12">
                                <div class="single-team-box team-box-bg-2">
                                    <div class="team-box-inner">
                                        <h3>alex browne</h3>
                                        <p class="team-meta">
                                            Director, Management & Research
                                        </p>
                                        <a href="team.html" class="learn-btn">
                                            learn more
                                        </a>
                                    </div><!--/.team-box-inner-->
                                </div><!--/.single-team-box-->
                            </div><!--.col-->
                            <div class="col-sm-3 col-xs-12">
                                <div class="single-team-box team-box-bg-3">
                                    <div class="team-box-inner">
                                        <h3>darren j. stevens</h3>
                                        <p class="team-meta">
                                            Director, Finance Solution
                                        </p>
                                        <a href="team.html" class="learn-btn">
                                            learn more
                                        </a>
                                    </div><!--/.team-box-inner-->
                                </div><!--/.single-team-box-->
                            </div><!--.col-->
                            <div class="col-sm-3 col-xs-12">
                                <div class="single-team-box team-box-bg-4">
                                    <div class="team-box-inner">
                                        <h3>kevin thomson</h3>
                                        <p class="team-meta">
                                            Head, Legal Advising
                                        </p>
                                        <a href="team.html" class="learn-btn">
                                            learn more
                                        </a>
                                    </div><!--/.team-box-inner-->
                                </div><!--/.single-team-box-->
                            </div><!--.col-->
                        </div><!--/.team-carousel-->
                    </div><!--/.row-->
                </div><!--/.container-->
            </div><!--/.team-card-->
        </div><!--/.team-details-->
    </div><!--/.container-->

</section><!--/.team-->
<!--team end-->