@{
	ViewBag.Title = "Tickets";
}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col">
							<h4 class="card-title">Categories</h4>
						</div><!--end col-->
					</div>  <!--end row-->
				</div><!--end card-header-->
				<div class="card-body">
					<div id="dxGrid"></div>
				</div><!--end card-body-->
			</div><!--end card-->
		</div> <!--end col-->
	</div><!--end row-->
</div>


@section Scripts
{
<script src="~/vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
<script>
	var dataGrid = null;
	$(() => {
		var url = '../../../api/technicianapi';
		dataGrid = $("#dxGrid").dxDataGrid({
			remoteOperations: { paging: true, filtering: true, sorting: true, grouping: true, summary: true, groupPaging: true },
			dataSource: DevExpress.data.AspNet.createStore({
				key: 'ticketId',
				loadUrl: `${url}/get`,
				updateUrl: `${url}/update`,
				//insertUrl: `${url}/insert`,
				//deleteUrl: `${url}/delete`,
				onBeforeSend(method, ajaxOptions) {
					ajaxOptions.xhrFields = { withCredentials: true };
					console.log(method);
					console.log(ajaxOptions);
				}
			}),
			editing: {
				mode: 'form',
				allowUpdating: true,
				//allowAdding: true,
				//allowDeleting: true
			},
			allowColumnResizing: true,
			showColumnLines: true,
			showRowLines: true,
			rowAlternationEnabled: true,
			showBorders: true,
			searchPanel: {
				visible: true,
				width: 240,
				placeholder: "Ara..."
			},
			filterRow: {
				visible: true,
				applyFilter: "auto"
			},
			headerFilter: {
				visible: true
			},
			export: {
				enabled: true,
				fileName: `Tüm Kategoriler_${parseInt(Math.random() * 1000000000)}`,
				allowExportSelectedData: true
			},
			paging: {
				pageSize: 20
			},
			pager: {
				showPageSizeSelector: true,
				allowedPageSizes: [5, 15, 30, 45],
				showInfo: true
			},
			selection: {
				mode: "multiple"
			},
			columns : [
				{
					dataField: "ticketId",
					visible: false,
					allowFiltering: false,
					formItem: { visible: false }
				},
				{
					dataField: "userId",
					visible: false,
					allowFiltering: false,
					formItem: { visible: false }
				},
				{
					caption: "Kullanıcının adı",
					dataField: "applicationUser.name"
				},
				{
					caption: "Kullanıcının Soyadı",
					dataField: "applicationUser.surname"
				},
				{
					caption: "Kategori",
					dataField: "categories.categoryName"
				},
				{
					caption: 'Açıklama',
					dataField: "description"
				},
				{
					caption: 'Atama Tarihi',
					dataField: "technicianDate"
				},
				{
					caption: 'Aktif mi?',
					dataField: "isActive"
				},
				{
					cellTemplate: function (container, options) {
						var idbtnEdit = "btnEdit" + options.rowIndex;
						var current = options.data;
						var url1 = `/Admin/technician/ticketDetail/${current.ticketId}`;
						$('<a id="' + idbtnEdit + '" href=' + url1 + ' target="_blank"/>')
							.addClass('btn btn-block btn-primary btn-sm')
							.text("Detay")
							.appendTo(container);
					}
				}
			]
		}).dxDataGrid("instance");
	});
</script>
}